[Match]
Name=vpn

# Adjust IP address
[Network]
Address=10.0.1.4/24
Address=2a00::4/64
DNS=10.0.1.1
DNSDefaultRoute=true
Domains=~.

[RoutingPolicyRule]
FirewallMark=0x8888
InvertRule=true
Table=1000
Priority=10
Family=both

[Route]
Gateway=10.0.1.1
GatewayOnLink=true
Table=1000
MTUBytes=1280

[Route]
Gateway=2a00::1
GatewayOnLink=true
Table=1000
MTUBytes=1280
